*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.custom-select {
    /* min-width: 350px; */
    position: relative;
  }
  
  select {
    appearance: none;
    /*  safari  */
    -webkit-appearance: none;
    /*  other styles for aesthetics */
    width: 100%;
    font-size: 1.15rem;
    padding: 0.35em 6em 0.35em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
  }
  .no-bars::-webkit-scrollbar {
    display: none;
  }
  .no-bars{
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .custom-select::before,
  .custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
  }
  
  .custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
  }
  
  .custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
  }
  .action-item{
    position: relative;
    cursor: pointer;
  }
  .action-item:hover span{
    display: block;
  }
  .action-item span{
    position: absolute;
    display: none;
    bottom: 0;
    left: 50%;
    background: rgba(0, 0, 0, 0.603);
    transform: translate(-50%,110%);
    /* transform: translateY(27px); */
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
  }